body  {
  margin: 0px;
}

.container{
  height: 600px;
  width: 600px;
  background-color: palegreen;
  position: relative;
}

.red  {
  height: 200px;
  width: 200px;
  background-color: red;
  position: absolute;
}

.blue {
  height: 200px;
  width: 200px;
  background-color: blue;
  position: absolute;
  left: 200px;
  top: 0px;


}

.yellow {
  height: 200px;
  width: 200px;
  background-color: yellow;
  position: absolute;
  left: 400px;
  top: 0px;

}
